# Rmarkdown
*.Rmd linguist-language=R

# TeX Support Files
*.csl text
*.tex text
*.sty text

# Site Support Files
*.xml linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
*.html linguist-documentation
docs/* text

# Serialisation
*.json  text
*.toml  text
*.yaml  text
*.yml   text

# Data files
*.csv   text
