# Rmarkdown
*.Rmd linguist-language=R

# TeX Support Files
*.csl linguist-vendored
*.tex linguist-vendored
*.sty linguist-vendored

# Site Support Files
*.xml linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
*.html linguist-documentation

# Serialisation
*.json  text
*.toml  text
*.yaml  text
*.yml   text

# Data files
*.csv   text
